<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/task/spring-mvc.xsd"
	>
	
	<!-- 加载配置文件 -->
	
	<!-- 扫描控制器注解 -->
	
	<!-- 启用注解驱动 -->
	
	<!-- 启动静态资源的访问 -->
	
	<!-- 静态资源映射 -->
	
	<!-- 无控制器跳转 -->
	
	<!-- 拦截器 -->
	
	<!-- 控制文件上传 -->
	
	
</beans>	